form {
  clear: both;
}
div.content label {
  float: left;
  margin: .5em;
  width: 9em;
  text-align: right;
}
div.content fieldset {
  margin: 1em 0;
  padding: 0 0 1em;
  position: relative;
}

h4{
  background-color: #4A91C3;
  color: #fff;
  padding: 3px 8px;
  margin: 2px 2px .5em 2px;
  font-family: "ו"
}

/*
div.content fieldset {
  padding-top: 1.5em
}

legend span {
  background-color: #15b;
  color: #fff;
  margin: 2px 2px .5em 2px;
  position: absolute;
  padding: 3px 1%;  
  display: block;
  width: 97.9%;
  height: 1.1em;
}
*/


input, textarea {
  margin-top: .25em;
}
textarea {
  width: 300px;
  height: 60px;
}
form ol {
  margin-left: .5em;
  margin-right: 1.5em;
  list-style-type: none;
}

div.content form li {
  float: left;
  clear: left;
  width: 100%;
  margin-left: 0;
}

/* nested items - checkboxes, radio buttons, etc.*/
form ol ul,
form ol ol {
  margin-top: .5em;
  margin-left: 2.5em;
  list-style-type: none;
}
div.content ol ul label,
div.content ol ol label {
  text-align: left;
}
div.content .discover label {
  width: auto;
}
label input {
  margin-bottom: 0;
}

div.legend {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
}

.req-label {
  
}

div.content .warning {
  color: #900;
  background: #ffc;
  padding: 5px;
}

.checkall {
  border-bottom: 1px dotted #ccc;
  color: #777;
  line-height: 2;
}
/***************************************
   =search form
-------------------------------------- */

#search {
  position: relative;
  margin-bottom: 20px;
}
#search-text {
  width: 16em;
}

#sidebar .overlabel {
  position: relative;
}
#sidebar .overlabel label {
  position: absolute;  
  top: 6px;
  left: 3px;
  color: #999;
  cursor: text;
}
#search label {
  display: block;
}

#sidebar .autocomplete {
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  width: 16em;
  list-style-type: none;
  z-index: 52;
}

#sidebar .autocomplete li {
  padding: 2px;
  margin: 0;
}

#sidebar .autocomplete li.selected {
  background: #008;
  color: #fff;
}

/***************************************
   =cart
-------------------------------------- */

#cart tbody tr {
  background-color: #eee;
}
#cart tbody tr.alt {
  background-color: #ddd;
}
div.content #cart {
  border-collapse: collapse;
}
div.content #cart tfoot {
  border-top: 2px solid #000;
  white-space: nowrap;
}
div.content #cart tfoot tr {
  border-bottom: 1px solid #ccc;
}
td.item {
  width: 100%;
}
td.quantity input {
  width: 30px;
  
}
a:visited {
  color: #00c;
}
#cart th.price, td.price,
#cart th.cost, td.cost,
td.value {
  text-align: right;
}
td.delete-item {
  text-align: center;
}
tr.total {
  font-weight: bold;
}
tr.actions {
  text-align: right;
}

.field-keys {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background: #fff;
  padding: 3px;
  margin: .5em 10px;
}
#shipping {
  border: 1px solid #000;
  padding: 2px .25em;
  float: right;
  margin-bottom: 1em;
}
#shipping-name {
  margin-left: 3px;
}
#shipping-name a {
  padding: 6px 0 0 20px;
  background: url('../images/pencil_go.png') no-repeat 0 50%;
}
